header {
  background-color: rgba(26, 11, 39, 0.61);
}

body {
  background-color: rgb(28, 67, 84);
  margin: 20px;
  background-image: url(Imagen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-weight: 50;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

p {
  background-color: rgb(11, 15, 2);
  color: aliceblue;
  font-size: 14;
}

a {
  color: black;
  text-decoration: underline;
}

li {
  font-size: 15px;
}

div {
  background-color: aqua;
  border: 2px solid blue;
}

.redes-sociales {
  text-align: center;
  justify-content: center;
  display: flex inline;
  width: 30%;
}

.item {
  background-color: aliceblue;
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Por defecto, 3 columnas */
  gap: 20px;
  /* Espacio entre los elementos */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

th {
  background-color: #333;
  color: white;
}

td {
  background-color: #f9f9f9;
}

table tr:nth-child(even) td {
  background-color: #fff;
}

th:first-child,
td:first-child {
  position: sticky;
  left: 0;
    z-index: 1;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

}

.grilla_presupuesto {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.grilla {
  min-width: 700px;
}


@media (max-width: 450px) {
  .tabla {
    width: 100%;
  }

  .grilla_presupuesto {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .grilla {
    min-width: 700px;
  }
}

@media (min-width: 450px) and (max-width: 1100px) {
  .tabla {
    width: 100%;
  }

  .grilla_presupuesto {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .grilla {
    min-width: 800px;
  }
}

@media (min-width: 1100px) {
  .grilla_presupuesto {
    overflow: visible;
  }

  .grilla {
    width: 100%;
  }
}