header {
  background-image: linear-gradient(rgb(28, 67, 84), grey);
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.686);
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header a {
  color: rgba(255, 255, 255, 0.686);
  text-decoration: underline;
 }

