@media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
    }

    ul {
      flex-direction: column;
    }

    header a {
      padding: 8px 12px;
    }
  
    .presentacion {
      grid-template-columns: 1fr;
    }
  
    .item {
      margin-bottom: 20px;
    }
}
    
@media (max-width: 450px) {
    .tabla {
      width: 100%;
    }
  
    .grilla_presupuesto {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  
    .grilla {
      min-width: 700px;
    }
  }
  
  @media (min-width: 450px) and (max-width: 1100px) {
    .tabla {
      width: 100%;
    }
  
    .grilla_presupuesto {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  
    .grilla {
      min-width: 800px;
    }
  }
  
  @media (min-width: 1100px) {
    .grilla_presupuesto {
      overflow: visible;
    }
  
    .grilla {
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    .presentacion {
        flex-direction: column;
    }
  
    .presentacion .item {
        width: 100%;
    }
  }

  @media (max-width: 777px) {
    header {
        padding: 5px 0;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 5px;
    }

    nav ul li {
        display: inline-block;
        padding: 3px 8px;
        font-size: 0.85em;
    }

    nav ul li a {
        display: block;
        padding: 5px 8px;
        font-size: 0.85em;
        text-align: center;
    }
}