table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 14px;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  table tr:nth-child(even) td {
    background-color: #fff;
  }
  
  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
      z-index: 1;
  }
  
  .grilla_presupuesto {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .grilla {
    min-width: 700px;
  }
  
  .presentacion {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    border: none;
  }
  
  .presentacion a {
    display: block;
    width: 30%;
} 

  .presentacion .item {
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 20px; 
    color: #ddd;
    background-color: rgb(28, 67, 84);
  }
  
  .presentacion .item p, ul, li{
      color: black;
      background-color: transparent;
  }
  
  .presentacion .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .item h3 {
    color: black;
    border-bottom: 2px solid black;
  }

  .presentacion a:hover .item {
    background-color: lightblue;
}

